@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content"></div>

<button class="btn" id="loadBtn">Load</button>
<button class="btn" id="displayBtn">Show</button>

<button class="btn" id="loadGrBtn">Load group</button>
<button class="btn" id="displayGrBtn">Show group</button>

@section scripts{
    <script src='@Url.Content("~/Scripts/model/user.js")'></script>
    <script src='@Url.Content("~/Scripts/model/group.js")'></script>

    <script src='@Url.Content("~/Scripts/manager/userManager.js")'></script>
    <script src='@Url.Content("~/Scripts/manager/groupManager.js")'></script>

    <script src='@Url.Content("~/Scripts/app.js")'></script>
}